@import '../datepicker-styles.scss';

.calendarMenu-grid {
	display: grid;
	grid-template-rows: $dp-16 $dp-24 $dp-12;
	grid-template-columns: $dp-24 min-content $dp-4 $dp-24 auto $dp-24 $dp-24 $dp-24 $dp-8;
	grid-template-areas: 
		'. . . . . . . . .'
		'. monthYear . upDownArrow . leftArrow . rightArrow .'
		'. . . . . . . . .';
	color: $menu-font-color;
	white-space: nowrap; // this keeps monthYear on the same line
	justify-items: center;
	align-items: center;
}

.monthYear { grid-area: monthYear; font-size: $menu-font-size; }
.upDownArrow { grid-area: upDownArrow; }
.leftArrow { grid-area: leftArrow; }
.rightArrow { grid-area: rightArrow; }

svg {
	fill: $svg-color;
	width: 90%;
	height: 90%;
}

.upDownArrow, .leftArrow, .rightArrow {
	cursor: pointer;
}

.day-label-grid {
	display: grid;
	grid-template-columns: $dp-32 $dp-32 $dp-32 $dp-32 $dp-32 $dp-32 $dp-32;
	grid-template-rows: $dp-32;
	padding: 0px $dp-16 0px $dp-16;
	font-size: $day-label-font-size;
	color: $day-label-font-color;
	cursor: default;
	justify-items: center;
	align-items: center;
}
