<div class="calendarMenu-grid">
	<span class="monthYear">
		{{calendarMenu.monthName + ' ' + calendarMenu.year}}
	</span>
	<span class="upDownArrow" tabindex="0" (click)="toggleDisplay()" (keydown.enter)='toggleDisplay()'>
		<span [ngClass]="[calendarMenu.type === 'day' ? 'showDis' : 'hideDis']">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
				<path d="M7 10l5 5 5-5z" />
				<path d="M0 0h24v24H0z" fill="none" />
			</svg>
		</span>
		<span [ngClass]="[calendarMenu.type === 'year' ? 'showDis' : 'hideDis']">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
				<path fill="none" d="M0 0h24v24H0V0z" />
				<path d="M7 14l5-5 5 5H7z" />
			</svg>
		</span>
	</span>
	<span class="leftArrow" (click)="emitNewPage(-1);" (keydown.enter)="emitNewPage(-1);">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" tabindex="0">
			<path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
			<path d="M0 0h24v24H0z" fill="none" />
		</svg>
	</span>
	<span class="rightArrow" (click)="emitNewPage(1);" (keydown.enter)="emitNewPage(1);">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" tabindex="0">
			<path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
			<path d="M0 0h24v24H0z" fill="none" />
		</svg>
	</span>
</div>

<div class="day-label-grid" *ngIf="calendarMenu.type === 'day'">
	<span>S</span>
	<span>M</span>
	<span>T</span>
	<span>W</span>
	<span>T</span>
	<span>F</span>
	<span>S</span>
</div>