@import '../datepicker-styles.scss';

#datepicker {
	display: inline-block;
	width: min-content;
	border-radius: $picker-border-radius;
	color: $picker-font-color;
}

.calendar-cell-grid {
	display: grid;
	grid-template-rows: $dp-32 $dp-32 $dp-32 $dp-32 $dp-32 $dp-32;
	padding: 0px $dp-16 $dp-8 $dp-16;
	font-size: $cell-font-size;
}

.date-cell-grid {
	grid-template-columns: $dp-32 $dp-32 $dp-32 $dp-32 $dp-32 $dp-32 $dp-32;
}

.year-cell-grid {
	grid-template-columns: $dp-56 $dp-56 $dp-56 $dp-56;
}
