<span id="datepicker">

	<app-calendar-menu
		[calendarMenu]="mCalendarMenu"
		(displayToggle)="onDisplayToggle($event);"
		(pagination)="onPagination($event)">
	</app-calendar-menu>

	<span class="calendar-cell-grid" [ngClass]="{
		'date-cell-grid' : mCurrentDisplayType === 'day',
		'year-cell-grid' : mCurrentDisplayType === 'year'
	}">
		<span *ngFor="let calendarCell of mCalendarCells">
			<app-calendar-cell
				[calendarCell]="calendarCell"
				(selectedCell)="onCellSelected($event);"
				(mousedOverCell)="onMouseOverCell($event);"
				(mousedOutCell)="onMouseOutCell($event);"
				(direction)="onMove($event);">
			</app-calendar-cell>
		</span>
	</span>

</span>