<span id="datepicker">

	<app-datepicker-menu
		[datepickerMenu]="mPickerMenu"
		(displayToggle)="setDisplay(mPickerMenu, $event);"
		(pagination)="onPagination($event)">
	</app-datepicker-menu>

	<span class="calendar-cell-grid date-cell-grid" [ngClass]="[mPickerMenu.display === 'day' ? 'showDis' : 'hideDis']">
		<span>S</span>
		<span>M</span>
		<span>T</span>
		<span>W</span>
		<span>T</span>
		<span>F</span>
		<span>S</span>
		<span *ngFor="let dateCell of mDateCells">
			<app-cell-picker
				[calendarCell]="dateCell"
				(selectEmitter)="onDateSelected($event);"
				(traversalEmitter)="onDateTraversal($event);"
			></app-cell-picker>
		</span>
	</span>

	<span class="calendar-cell-grid year-cell-grid" [ngClass]="[mPickerMenu.display === 'year' ? 'showDis' : 'hideDis']">
		<span *ngFor="let yearCell of mYearCells">
			<app-cell-picker
				[calendarCell]="yearCell"
				(selectEmitter)="onYearSelected($event);"
				(traversalEmitter)="onYearTraversal($event);"
			></app-cell-picker>
		</span>
	</span>

</span>
