$scalar: 256px;

// picker height
$dp-284: $scalar * 284 / 256;
// picker width
$dp-256: $scalar;
// daterangepicker label-area width
$dp-168: $scalar * 175 / 256;
// year-cell-width
$dp-56: $scalar * 56 / 256;
// year-cell-inner-width
$dp-52: $scalar * 52 / 256;
// cell-height & date-cell-width
$dp-32: $scalar * 32 / 256;
// cell-inner-height & date-cell-inner-width
$dp-28: $scalar * 28 / 256;

$dp-24: $scalar * 24 / 256;

$dp-16: $scalar * 16 / 256;

$dp-12: $scalar * 12 / 256;

$dp-8: $scalar * 8 / 256;

$dp-6: $scalar * 6 / 256;

$dp-4: $scalar * 4 / 256;

$dp-2: $scalar * 2 / 256;