<div id="daterangepicker">

	<span class="menu">
		<app-daterangepicker-menu
			[daterangepickerMenu]="mPickerMenu"
			(leftPaginationEmitter)="onPagination($event);"
			(rightPaginationEmitter)="onPagination($event);">
		</app-daterangepicker-menu>
	</span>

	<div class="calendar-cell-grid date-cell-grid left">
		<span>S</span>
		<span>M</span>
		<span>T</span>
		<span>W</span>
		<span>T</span>
		<span>F</span>
		<span>S</span>
		<span *ngFor="let dateCell of mLeftDateCells">
			<app-cell-daterangepicker
				[calendarCell]="dateCell"
				[startDate]="mStartDateCell ? mStartDateCell.date : null"
				[endDate]="mEndDateCell ? mEndDateCell.date : null"
				[hoveredDate]="mHoveredDateCell ? mHoveredDateCell.date : null"
				(selectEmitter)="onDateSelected($event);"
				(hoverEmitter)="onDateHover($event);"
				(unhoverEmitter)="onDateUnhover($event);"
				(traversalEmitter)="onDateTraversal($event);"
				></app-cell-daterangepicker>
		</span>
	</div>

	<!-- <div class="calendar-cell-grid year-cell-grid left" [ngClass]="[mLeftDisplay === 'year' ? 'show' : 'hide']">
		<span *ngFor="let yearCell of mLeftYearCells">
			<app-cell-picker
				[calendarCell]="yearCell"
				(selectEmitter)="onYearSelectedLeft($event);"
				(traversalEmitter)="onYearTraversal($event);"
				></app-cell-picker>
		</span>
	</div> -->

	<div class="calendar-cell-grid date-cell-grid right">
		<span>S</span>
		<span>M</span>
		<span>T</span>
		<span>W</span>
		<span>T</span>
		<span>F</span>
		<span>S</span>
		<span *ngFor="let dateCell of mRightDateCells">
			<app-cell-daterangepicker
				[calendarCell]="dateCell"
				[startDate]="mStartDateCell ? mStartDateCell.date : null"
				[endDate]="mEndDateCell ? mEndDateCell.date : null"
				[hoveredDate]="mHoveredDateCell ? mHoveredDateCell.date : null"
				(selectEmitter)="onDateSelected($event);"
				(hoverEmitter)="onDateHover($event);"
				(unhoverEmitter)="onDateUnhover($event);"
				(traversalEmitter)="onDateTraversal($event);"
				></app-cell-daterangepicker>
		</span>
	</div>

	<!-- <div class="calendar-cell-grid year-cell-grid right" [ngClass]="[mRightDisplay === 'year' ? 'show' : 'hide']">
		<span *ngFor="let yearCell of mRightYearCells">
			<app-cell-picker
				[calendarCell]="yearCell"
				(selectEmitter)="onYearSelectedRight($event);"
				(traversalEmitter)="onYearTraversal($event);"
				></app-cell-picker>
		</span>
	</div> -->

</div>