<div id="daterangepicker">

	<span class="menu">
		<app-daterangepicker-menu
			[daterangepickerMenu]="mPickerMenu"
			(leftDisplayEmitter)="setDisplay(mPickerMenu.leftMenu, $event);"
			(rightDisplayEmitter)="setDisplay(mPickerMenu.rightMenu, $event);"
			(leftPaginationEmitter)="onPaginationLeft($event);"
			(rightPaginationEmitter)="onPaginationRight($event);">
		</app-daterangepicker-menu>
	</span>

	<div class="calendar-cell-grid date-cell-grid left" [ngClass]="[mLeftDisplay === 'day' ? 'show' : 'hide']">
		<span>S</span>
		<span>M</span>
		<span>T</span>
		<span>W</span>
		<span>T</span>
		<span>F</span>
		<span>S</span>
		<span *ngFor="let dateCell of mLeftDateCells">
			<app-calendar-cell
				[calendarCell]="dateCell"
				(selectEmitter)="onDateSelected($event);"
				(hoverEmitter)="onDateHover($event);"
				(unhoverEmitter)="onDateUnhover($event);"
				(traversalEmitter)="onDateTraversal($event);"
				></app-calendar-cell>
		</span>
	</div>

	<div class="calendar-cell-grid year-cell-grid left" [ngClass]="[mLeftDisplay === 'year' ? 'show' : 'hide']">
		<span *ngFor="let yearCell of mLeftYearCells">
			<app-calendar-cell
				[calendarCell]="yearCell"
				(selectEmitter)="onYearSelectedLeft($event);"
				(traversalEmitter)="onYearTraversal($event);"
				></app-calendar-cell>
		</span>
	</div>

	<div class="calendar-cell-grid date-cell-grid right" [ngClass]="[mRightDisplay === 'day' ? 'show' : 'hide']">
		<span>S</span>
		<span>M</span>
		<span>T</span>
		<span>W</span>
		<span>T</span>
		<span>F</span>
		<span>S</span>
		<span *ngFor="let dateCell of mRightDateCells">
			<app-calendar-cell
				[calendarCell]="dateCell"
				(selectEmitter)="onDateSelected($event);"
				(hoverEmitter)="onDateHover($event);"
				(unhoverEmitter)="onDateUnhover($event);"
				(traversalEmitter)="onDateTraversalRight($event);"
				></app-calendar-cell>
		</span>
	</div>

	<div class="calendar-cell-grid year-cell-grid right" [ngClass]="[mRightDisplay === 'year' ? 'show' : 'hide']">
		<span *ngFor="let yearCell of mRightYearCells">
			<app-calendar-cell
				[calendarCell]="yearCell"
				(selectEmitter)="onYearSelectedRight($event);"
				(traversalEmitter)="onYearTraversal($event);"
				></app-calendar-cell>
		</span>
	</div>

</div>