@import '../datepicker-styles.scss';

#daterangepicker {
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: auto auto;
	grid-template-areas:
		"menu menu"
		" left right ";
	width: min-content;
	border-radius: $picker-border-radius;
	color: $picker-font-color;
}

.menu { grid-area: menu; }
.left { grid-area: left; }
.right { grid-area: right; }

.calendar-cell-grid {
	display: grid;
	grid-template-rows: $dp-32 $dp-32 $dp-32 $dp-32 $dp-32 $dp-32 $dp-32;
	padding: 0px $dp-16 $dp-8 $dp-16;
	font-size: $cell-font-size;
	justify-items: center;
	align-items: center;
}

.date-cell-grid {
	grid-template-columns: $dp-32 $dp-32 $dp-32 $dp-32 $dp-32 $dp-32 $dp-32;
}

.year-cell-grid {
	grid-template-columns: $dp-56 $dp-56 $dp-56 $dp-56;
}